doctype html

block titles
  - var title = '石井花壇'

html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href="/css/style.css?ver")
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

  body
    section.container.about
      .about-inner
        h3.about-subTitle Design is <br/>
          | intelligence made visible
        h2.about-title About Us
        table.about-table
          tbody.about-table_body
            tr.about-table_row
              th.about-table_header 商号
              td.about-table_text スワッグワークス（ swag works, Inc. ）
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔aaaaaaa
            tr.about-table_row
              th.about-table_header 商号
              td.about-table_text スワッグワークス（ swag works, Inc. ）
            tr.about-table_row
              th.about-table_header 商号
              td.about-table_text スワッグワークス（ swag works, Inc. ）
            tr.about-table_row
              th.about-table_header 商号
              td.about-table_text スワッグワークス（ swag works, Inc. ）
            tr.about-table_row
              th.about-table_header 商号
              td.about-table_text ■スワッグワークス（ swag works, Inc. ）
              td.about-table_text ■スワッグワークス（ swag works, Inc. ）
              td.about-table_text ■スワッグワークス（ swag works, Inc. ）
              td.about-table_text ■スワッグワークス（ swag works, Inc. ）
              td.about-table_text ■スワッグワークス（ swag works, Inc. ）
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔aaaaaaa
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔aaaaaaa
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔aaaaaaa
            tr.about-table_row
              th.about-table_header 役員
              td.about-table_text 代表取締役 島田祐輔
              td.about-table_text 代表取締役 島田祐輔aaaaaaa
